.footer {
    display: flex;
    padding-top: var(--spacing-flex-md);
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-flex-md, 24px);
    align-self: stretch;
}

.situa {
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
align-self: stretch;
}

.footer-line-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.footer-line-2 {
    display: flex;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;
}