/* ccontenitore principale */

body {
  display: flex;
padding: 0;
flex-direction: column;
align-items: center;
flex: 1 0 0;
align-self: stretch;
margin: 0;
height: 100vh;
}

.capo-container {
  padding: var(--grid-margin);
  display: flex;
flex-direction: column;
align-items: center;
flex: 1 0 0;
align-self: stretch;
}

.friday {
  color: var(--primary-day1);
}

.all {
  color: var(--primary-day0);
}

.image-flex {
  position: relative;
  display: flex;
  background-color: var(--color-white);
flex-direction: column;
align-items: center;
flex: 1 0 0;
align-self: stretch;
background-image: url(../images/tdss.png);
background-size: contain; 
  background-position: center; 
  background-repeat: no-repeat;
}

.image-container img {
    object-fit: cover; /* Imposta l'adattamento dell'immagine in modo che copra l'intero div senza deformazioni */
}

.image-blend {
  mix-blend-mode: screen;
}

.image-layer {
  position: absolute; /* Posizionamento assoluto rispetto al container1 */
  top: 0; /* Allineamento in alto */
  left: 0; /* Allineamento a sinistra */
  width: 100%; /* Larghezza pari a quella del container1 */
  height: 100%; /* Altezza pari a quella del container1 */
  background-color: var(--primary-day0);
  mix-blend-mode: screen; /* Applica il mix blend mode 'screen' al layer */
}

